img {
    margin-bottom: 20px;
}

ul {
    text-align: left;
    list-style: none;
    padding-right: 60px;
}

button {
    margin: 8px;
}

/* a, a:hover, a:active {
    color: #CBB682;
    text-decoration: none;
} */

@media (min-width:992px) {
    .list-unstyled li {
        background-color: #e6eeff;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
}