
#carousel img {
    margin-bottom: 20px;
}

#carousel_block img {
    margin-bottom: 20px;
}

ul {
    text-align: left;
    list-style: none;
    padding-right: 60px;
}

#bed {
    list-style-image: url('../img/Amenities/bed-room.png');
}

#bath {
    list-style-image: url('../img/Amenities/bath-room.png');
}

#living {
    list-style-image: url('../img/Amenities/living-room.png');
}

#dress {
    list-style-image: url('../img/Amenities/dressing-room.png');
}

#family {
    list-style-image: url('../img/Amenities/family-room.png');
}

#bell {
    list-style-image: url('../img/Amenities/bell.png');
}

#food {
    list-style-image: url('../img/Amenities/drinking.png');
}

/* button {
    margin-bottom: 10px;
    background-color: #181510;
} */

a, a:hover, a:active {
    color: #CBB682;
    text-decoration: none;
}
@media (min-width:992px) {
    .list-unstyled li {
        background-color: #e6eeff;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .nav-link {
        background-color: none;
        font-size: 130%;
        font-weight: bold;
    }
    .navbar {
        margin-top: 20px;
    }
    #contact {
        margin-top: 50px;
        font-size: 110%;
    }
}